__pycache__
.idea
env
my-virtualenv/
errorFiles/
DATA/
post-processedFiles/*/*.csv
post-processedFiles/*/*.csv
post-processedFiles/*/*.png
post-processedFiles/StartSummer/*.png
post-processedFiles/.DS_Store
.DS_Store
pre-processFiles/.DS_Store
pre-processFiles/rawFiles/*/*.csv
pre-processFiles/Data
