__pycache__
.idea
env
my-virtualenv/
errorFiles/
DATA/
post_processedFiles/*/*.csv
post_processedFiles/*/*.csv
post_processedFiles/*/*.png
post_processedFiles/StartSummer/*.png
post_processedFiles/.DS_Store
.DS_Store
pre_processFiles/.DS_Store
pre_processFiles/rawFiles/*/*.csv
pre_processFiles/Data
