__pycache__
.idea
env
my-virtualenv/
venv/
.vscode/settings.json
errorFiles/
DATA/
post_processedFiles/
.DS_Store
pre_processFiles/.DS_Store
pre_processFiles/rawFiles/*/*.csv
pre_processFiles/Data
node_modules
.flaskenv
user_input_files/*.csv
user_output_files/*.csv
*.pyc
*.dot
*.png
*.joblib